language: python
python:
  - "3.8"
script:
- echo "no tests"
deploy:
  provider: pypi
  skip_existing: true
  user: Guewen.Baconnier
  password: $PYPI_PASSWORD
  distributions: sdist bdist_wheel
  on:
    repo: camptocamp/pytest-odoo
    branch: master
    tags: true
